body {
  background-color: #8cae94;
  color: #37493a;
}

.container {
  max-width: 600px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.social {
  margin-top: 0.3em;
  font-size: 2.5em;
  text-align: right;
}

.social a {
  color: #37493a;
  margin-left: 0.3em;
  margin-right: 0.2em;
}

.social a:hover {
  color: #77997f;
}
